<html>
  <head>
    <title>Avaliação semestral</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Avaliação semestral</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/professores">Cadastro de Professores</a></li>
            <li><a href="/disciplinas">Cadastro de Disciplinas</a></li>
            <li><a href="/alunos">Cadastro de Alunos</a></li>
            <li><a href="/cursos">Cadastro de Cursos</a></li>
            <li><a href="/ocorrencias">Cadastro de Ocorrencias</a></li>

                                              
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
          <h1>Avaliação semestral</h1>
          <h3>Aluno: Samuel Olakunle Souza Akinroyeje</h3>
          <h3>Prontuário: PT3026221</h3>
      </div>
      <p>A data e hora local é <span class="flask-moment" data-timestamp="2024-08-30T23:54:09Z" data-function="format" data-format="LLL" data-refresh="0" style="display: none">2024-08-30T23:54:09Z</span>.</p>
      </div>
  </body>
</html>
